// Переменные для шрифта MontserratAlternates
$font-family-base: 'MontserratAlternates', sans-serif
$font-family-heading: 'MontserratAlternates', serif

// Переменные для веса шрифта
$f-regular: normal
$f-bold: bold
$f-extrabold: 800

// Переменные для размера шрифта
$f-base: 32px // базовый размер шрифта
$f-large: 24px // размер шрифта для заголовков
$f-small: 14px // размер шрифта для подзаголовков

// Breakpoints для адаптива
$xxl: 1800px
$xl: 1440px
$lg: 1024px
$md: 960px
$sm: 768px
$xs: 640px
$xxs: 320px

// Отступы и размеры
$padding-base: 20px
$border-radius: 5px

// Цвета
$t-color: #041A3F
$btn-color: #FFCA33


