@font-face
  font-family: 'MontserratAlternates'
  src: url('../assets/fonts/MontserratAlternates-Regular.woff2') format('woff2'),
  url: ('../assets/fonts/MontserratAlternates-Regular.woff') format('woff')
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'MontserratAlternates'
  src: url('../assets/fonts/MontserratAlternates-Bold.woff2') format('woff2'),
  url: ('../assets/fonts/MontserratAlternates-Bold.woff') format('woff')
  font-weight: bold
  font-style: normal

@font-face
  font-family: 'MontserratAlternates'
  src: url('../assets/fonts/MontserratAlternates-ExtraBold.woff2') format('woff2'),
  url: ('../assets/fonts/MontserratAlternates-ExtraBold.woff') format('woff')
  font-weight: 800
  font-style: normal

@import '_variables'
@import 'reset'
@import '_mixins'

body
  min-height: 100vh
  width: 100%
  position: relative
  &:after
    content: ""
    background: rgb(250, 250, 250) url('../assets/images/pattern.png') repeat
    opacity: 0.5
    top: 0
    left: 0
    bottom: 0
    right: 0
    position: absolute
    z-index: -1
    background-size: 200px

.wrapper
  display: flex
  flex-direction: column
  min-height: 100vh
  max-height: 200vh

.main
  flex: 1 0 auto
